@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'Afacad';
    src: url('/src/assets/fonts/Afacad-VariableFont_wght.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.object-hero-text{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.object-hero-text h3{
    font-family: "Afacad", sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: large;
    text-align: center;
}

.object-hero-text h2{
    letter-spacing: 5px;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}