.landingPage {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bottom-container {
    height: 50dvh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.saturn-parallax {
    position: absolute;
    top: 40%;
    left: -470px;
    will-change: transform;
}

.saturn {
    height: 450px;
    display: block;
}
