*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: black;
}

body {
  
  background: url("./assets/spacebackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100dvh;
  overflow: hidden;
  color: white;
}
