.return-arrow{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: end;
}

.arrow{
    height: 18px;
    transition: all ease 0.4s;
}

.arrow:hover {
    scale: 1.2;
    transition: all ease 0.4s;
}